*.iml
.gradle/
.idea/
/local.properties
/.DS_Store
/build/
**/build/
!**/src/main/**/build/
!**/src/test/**/build/
*.apk
*.aab
*.ap_
*.dex
captures/
.externalNativeBuild/
.cxx/
*.keystore
!debug.keystore
